@{
    ViewData["title"] = "SignUp";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="sign-up container">
        <h1 class="sign-up title">Sign up your account</h1>

        <form action="" method="post">
            <div class="sign-up input-group">
                <label for="Email">Email address</label>
                <input type="email" id="Email" name="Email" required placeholder="Enter your email">
            </div>

            <div class="sign-up input-group">
                <label for="UserName">Your name</label>
                <input type="text" id="UserName" name="UserName" required placeholder="Enter your name" maxlength="50"
                    minlength="3">
            </div>

            <div class="sign-up input-group">
                <label for="ProfilePicture">Profile Picture</label>
                <input type="text" id="ProfilePicture" name="ProfilePicture" placeholder="Enter your image URL"
                    maxlength="300">
            </div>

            <div class="sign-up input-group">
                <label for="PasswordHash">Password</label>
                <input type="password" id="PasswordHash" name="PasswordHash" required placeholder="Enter your password"
                    minlength="3" maxlength="100">
            </div>


            <label class="sign-up input-group.age">
                <label for="age">Age Ⓡ</label><br>
                <input type="checkbox" checked="checked" id="age" name="age" required>
                <span class="sign-up checkmark"></span>
                I am 0 years of age or older
            </label>

            <br>
            <p style="color: red;">@ViewData["error"]</p>

            <button type="submit">Sign up</button>
        </form>

        @* <div class="sign-up links">
        <span class="sign-up privacy">Privacy</span>
        <span class="sign-up terms">- Terms</span>
        </div> *@

        <p class="sign-up Already a Member?">Already a Member?
            <a asp-controller="Account" asp-action="Login">Log in</a>
        </p>
    </div>
</body>

</html>