@*

*@
@{} 

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/search.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search page</title>

</head>

<body>
    <custom-header></custom-header>
    <div class="TopPage">
        <h1>Event near Bangkok, TH</h1>
        <a href="#">Events</a> <a href="#">Groups</a>

        <nav role="primary navigation"> 
        <div class="dropdown">
        <a href="#" class="dropdown-action">Any day <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>chevron-down</title><g fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 10.75L12 14.25l-3.25-3.5"></path></g></svg></a>
        
        <ul class="dropdown-menu">
        <li><a href="#"> Any day </a></li>
        <li><a href="#"> Starting soon </a></li>
        <li><a href="#"> Today </a></li>
        <li><a href="#"> Tomorrow </a></li>
        <li><a href="#"> This week </a></li>
        <li><a href="#"> This weekend </a></li>
        <li><a href="#"> Next week </a></li>
        <li><a href="#"> Custom </a></li>
        </div>

    <div class="dropdown">
    <a href="#" class="dropdown-action">Any type
    <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>chevron-down</title><g fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 10.75L12 14.25l-3.25-3.5"></path></g></svg></a>

    <ul class="dropdown-menu">
    <li><a href="#">Any type</a></li>
    <li><a href="#">Online</a></li>
    <ul class = "inperson">
        <li>
            <a href="#">Inperson</a>
        </li>
        <ul>
            <li><a href="">Indoor only</a></li>
            <li><a href="">Outdoor only</a></li>
        </ul>
    </ul>
    <li><a href="#">Storytelling</a></li>
    </ul>
    </div>

    <div class="dropdown">
    <a href="#" class="dropdown-action">Any distance
    <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>chevron-down</title><g fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 10.75L12 14.25l-3.25-3.5"></path></g></svg></a>

    <ul class="dropdown-menu">
    <li><a href="#">Any distance</a></li>
    <li><a href="#">2 miles</a></li>
    <li><a href="#">5 miles</a></li>
    <li><a href="#">10 miles</a></li>
    <li><a href="#">25 miles</a></li>
    <li><a href="#">50 miles</a></li>
    <li><a href="#">100 miles</a></li>
    </ul>
    </div>

    <div class="dropdown">
    <a href="#" class="dropdown-action">Any category
    <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>chevron-down</title><g fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 10.75L12 14.25l-3.25-3.5"></path></g></svg></a>

    <ul class="dropdown-menu">
    <li><a href="#">Any category</a></li><li><a href="#">Art & Culture</a></li><li><a href="#">Career & Business</a></li>
    <li><a href="#">Community & Environment</a></li><li><a href="#">Dancing</a></li><li><a href="#">Games</a></li><li><a href="#">Health & Wellbeing</a></li>
    <li><a href="#">Hobbies & Pasion</a></li><li><a href="#">Identity & Languages</a></li><li><a href="#">Music</a></li>
    <li><a href="#">Parents & Family</a></li>
    <li><a href="#">Pet & Animals</a></li>
    <li><a href="#">Religion & Spirituality</a></li>
    <li><a href="#">Science & Education </a></li>
    <li><a href="#">Scial Activities</a></li>
    <li><a href="#">Sports & Fitness</a></li>
    <li><a href="#">Support & Coaching</a></li>
    <li><a href="#">Technology</a></li>
    <li><a href="#">Travel & Outdoor</a></li>
    <li><a href="#">Writing</a></li>
    </ul>
    </div>
    <div class="dropdown">
    <a href="#" class="dropdown-action">
        Sort by: Relevance
        <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>chevron-down</title><g fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 10.75L12 14.25l-3.25-3.5"></path></g></svg>
    </a>
    <ul class="dropdown-menu">
    <li><a href="#">Date</a></li>
    <li><a href="#">Relevance</a></li>
    </ul>
    </div>
</nav>
    </div>

    <div class="display-paragraph">
    <div class=""></div>
    </div>

    <script src="~/js/search.js"></script>
</body>
</html>