:root{
    --cyan-button: #00798A;
    --red-search: #F65858;
    --logo-color: #F64060;
    --black-color: #212121;
    --grey-color: #F6F7F8;
}

*{
    border: solid 1px black;
}

body {
    padding-left: 15%;
    padding-right: 15%;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
