:root {
  --cyan-button: #00798a;
  --red-search: #f65858;
  --logo-color: #f64060;
  --black-color: #212121;
  --grey-color: #f6f7f8;
}

* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header{
  margin-top: 15px;
}

body {
  margin: 0;
  /* margin: 5px 0 0 0; */
  padding: 0;
}

li {
  display: inline;
  float: left;
}

iframe {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.head {
  background-color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
}

.head div {
  display: flex;
}

.head h1 {
  margin-left: 12%;
  font-weight: bold;
}

.head div img {
  object-fit: contain;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 12%;
}

.head div section {
  display: block;
  margin-left: 20px;
  margin-top: 3px;
}

.head div section h4 {
  margin: 0;
}

.rating-popup {
  transform: translateY(-10vh);
  position: fixed;
  width: 100%;
  height: 110vh;
  z-index: 998;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#close-button {
  background-color: rgb(0, 0, 0, 0);
  color: var(--red-search);
  font-weight: 600;
  font-size: large;
  border: none;
  align-self: flex-end;
}

#rating-button {
  border-radius: 15px;
}

.rating-popup form {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.comment-area ~ button {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  align-self: flex-end;
}

.star {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.star-container {
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.1s linear;
}

.star-container:hover {
  border: 3px solid #00798a;
  transition: all 0.1s linear;
}

.selected {
  border: 3px solid #00798a;
  transition: all 0.1s linear;
}

.rating-area-display {
  width: calc(100% - 30px);
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}

.content {
  background-color: #f6f7f8;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-top: 20px;
}

.content img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 576px;
  max-height: 576px;
}

.left-area,
.right-area {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rating-area {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

textarea {
  width: calc(100% - 5px);
  height: 5rem;
  resize: none;
  padding: 5px 0 0 5px;
  margin: 0;
}

.comment-area-display {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
}

.comment-card {
  width: calc(100% - 30px);
  max-width: 100%;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 400;
}

.rating-topic {
  font-weight: 600;
  font-size: 18px;
}

.rating-display {
  height: 100px;
  
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.progress-container,
.progress-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-bg {
  width: 200px;
  height: 11px;
  background-color: #dedede;
  overflow: hidden;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: gold;
}

.rating .star {
  filter: opacity(0.5) drop-shadow(0 0 0 yellow) drop-shadow(0 0 0 yellow)
    drop-shadow(0 0 0 yellow) drop-shadow(0 0 0 yellow);
}

/* Style for star icons */
.rating .star {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.rating .star:hover,
.rating .star.active {
  transform: scale(1.2);
}

#content-details {
  margin: 0;
  display: block;
  width: 100%;
}

.content #content-details {
  width: 100%;
  max-width: 576px;
}

#tag {
  display: flex;
  width: 100%;
  max-width: 576px;
  flex-wrap: wrap;
}

#tag a {
  margin-top: 5px;
  text-decoration: none;
  padding: 0.375rem;
  border-radius: 10%;
  background-color: rgb(219, 237, 240);
  border: 1px solid rgb(219, 237, 240);
  color: rgb(30, 30, 30);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-right: 5px;
}

#attendees {
  margin-top: 50px;
  margin-bottom: 300px;
}

#attendees-list {
  width: 100%;
  max-width: 576px;
  overflow-x: auto;
  margin: 0;
  display: flex;
  padding: 20px;
  background-color: white;
}

.attendee-profile {
  margin-right: 5%;
  height: 200px;
  border-radius: 10%;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.attendee-profile div {
  padding-top: 5px;
  width: 150px;
  margin: 0;
}

.attendee-profile img {
  object-fit: contain;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

#details {
  border-radius: 20px;
  padding: 15px;
  width: calc(100% - 30px);
  height: fit-content;
  max-width: 300px;
  flex-wrap: wrap;
  background-color: white;
}

.time-details {
  display: flex;
  align-items: center;
}

.time-details a{
  margin-top: 10px;
  margin-left: 13px;
}
.time-details div{
  font-weight: lighter;
  width: 80%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.time-details h3 {
  font-weight: lighter;
  width: 80%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 13px;
}

.time-details img {
  margin-top: 15px;
  width: 25px;
  height: 25px;
}

#attend {
  position: fixed;
  display: flex;
  height: 100px;
  bottom: 0;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
}

.dark-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.dark-footer .container {
  max-width: 960px;
  margin: 0 auto;
  height: 300px;
}

#attend-line {
  border: 1px solid #f6f7f8;
  clear: both;
}

#attend-details {
  gap: 50px;
  justify-self: flex-start;
  width: 65%;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;

}

#attend div {
  display: flex;
}

.button-area {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

#attend-btn {
  background-color: #f65858;
  color: white;
  border: 1px solid #f65858;
}

#attend-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: #f65858;
}

#cancel-btn {
  padding: 20px 30px;
  background-color: #7ea0ff;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #7ea0ff;
  border-radius: 10%;
}

#cancel-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: #7ea0ff;
}

#share {
  height: 50%;
  display: flex;
  background-color: white;
  color: rgb(0, 126, 138);
  font-weight: 500;
  border: 1px solid rgb(0, 126, 138);
  align-items: center;
}

.button-area button {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 30px;
  border-radius: 10px;
}

#share:hover {
  transition: 0.5s;
  background-color: rgb(0, 126, 138);
  color: white;
}

#numberInput {
  margin-top: 5px;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  width: 50px;
  height: 20px;
}

#attend-form{
  display: flex;
  gap: 10px;
  align-items: center;
}

#close-btn {
  padding: 20px 30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 10%;
}

#close-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: #000000;
}

#open-btn {
  padding: 20px 30px;
  background-color: #ffbd68;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #ffbd68;
  border-radius: 10%;
}

#open-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: #ffbd68;
}

@media only screen and (max-width: 768px) {
  .header h1 {
    margin-left: 2px;
  }

  .header div img {
    margin-left: 2px;
  }

  #attend-details {
    display: none;
  }

  .content{
    flex-direction: column;
  }

  #attendees{
    margin-bottom: 50px;
  }
  .content{
    margin-left: 5px;
  }
  #details{
    margin: auto;
  }
  #attend{
    justify-content: flex-end;
  }
  .button-area{
    margin-right: 5px;
  }
  .rating-area-display{
    margin: auto;
    margin-bottom: 50px;
  }
}
