:root {
  --cyan-button: #00798a;
  --red-search: #f65858;
  --logo-color: #f64060;
  --black-color: #212121;
  --grey-color: #f6f7f8;
}

body {
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.detail p {
margin: 0px;
}

.date-hide{
  display: none;
}
.content{
  width: 100%;
}

.right-card{
  width: 75%;
  margin-top: 0.5rem;
  margin-right: 2rem;
  font-weight: 400;
}

.detail{
  display: -webkit-box;
  max-width: 400px;
  color: #7d8687;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-card{
  display: flex;
  justify-content: space-between;
}

.host{
  display: -webkit-box;
  color: #7d8687;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 2%;
}

.event-group > .header > a {
  color: var(--cyan-button); 
  text-decoration: none;
  font-weight: 800; 
}

.event-ongoing > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.event {
  display: flex;
  height: 15rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  column-gap: 2rem;
}

.event-img-container {
  padding: 1px;
  text-align:center;
  border-radius: 1.25rem;
  width: 400px;
  height: 235px;
  display: flex;
  background-color: rgb(254, 249, 249);
  border: 1px solid rgb(255, 158, 158);
}

.event-image {
  object-fit:contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.event-name {
  font-size: 1.5rem;
  font-weight: 800;
  width: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.event .date,
.event-footer,
.event-footer > .going,
.event-footer > .price {
  display: flex;
  align-items: center;
}


.event-footer {
  gap: 5%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}


@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}


.div-create {
  color: white;
  background: #00798a;
  border-radius: 0.5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
}

.div-create:hover {
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953),
      linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
      linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #008fa3;
    border: solid white 1px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  
  .left-card{
    max-height: fit-content;
  }
  
  .right-card .date {
    display: none;
  }

  .right-card{
    display: none;
  }
  .date-hide{
    display: block;
  }

  .detail{
    display:none;
  }



  .event-img-container {
    background-color: transparent;
    margin-right: 0;
    border-top-right-radius: 0;
  }


  .event {
    max-width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;

  }

}