/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 50;
    padding: 50;
    justify-content: center;
} */

.login.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.login .title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
}

.login .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.login input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #4caf50;
}

.login button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.login button[type="submit"]:hover {
    background-color: #45a049;
}

.login .link a {
    color: #4caf50;
    text-decoration: none;
}

.login .link a:hover {
    text-decoration: underline;
}

.login .options {
    font-size: 1.2rem;
    color: #666;
    margin: 1rem 0;
}

.login .social-login a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px
}

