.TopPage {
  padding-left: 10%;
  padding-right: 10%;
}

.display-paragraph {
  padding-left: 10%;
  padding-right: 15%;
  display: flex;
}

.select {
  padding-right: 20px;
  color: gray;
}
.dropdown {
  background-color: rgb(243, 242, 242);
  border-radius: 30px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.right {
  max-width: 20%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

nav a {
    padding: 10px 16px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: green; 
}

nav a:hover {
  color: red;
}

.dropdown {
  position: relative;
  min-width: fit-content;
}

.dropdown-action {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.dropdown-icon {
  stroke: currentColor;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
  display: none;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 40px;
  left: 5px;
  min-width: 180px;
  background: white;
  z-index: 10;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu a {
  display: block;
}

.dropdown .inperson {
  list-style-type: none;
  padding-left: 0%;
}

.inperson ul li {
  list-style-type: none;
  border-left: 2px solid gray;
}

.card{
  display: flex;
}

.img{
  max-width: 500px;
  max-height: 500px;
}



@media only screen and (max-width: 768px){
  .img{
    max-width: 60%;
  }

  .primary-navigation{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  .dropdown{
    position: relative;
  }

  .dropdown-menu{
  display: none;
  
  }
}