:root{
  --cyan-button: #00798A;
  --red-search: #F65858;
  --logo-color: #F64060;
  --black-color: #212121;
  --grey-color: #F6F7F8;
  }

.primary-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 1024px;
}

.display-paragraph {
  display: flex;
  gap: 20px;
}

.select {
  padding-right: 20px;
  color: gray;
}
.dropdown {
  background-color: rgb(243, 242, 242);
  border-radius: 30px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: transparent;
  display: flex;
  gap: 10px;
  margin-right: 0;
  width: 100%;
  height: 144px;
  border-bottom: 1px solid #ddd;
}

.image {
  height: fit-content;
  width: 20%;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #F64060;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #00798A;
}

.details {
  width:80%;
  height: 100%;
}

.right {
  width: 30%;
}

.right iframe {
  width: 100%;
}

.detail {
  font-size: 2rem;
  /* margin-bottom: 20px; */
}

.h2 {
  font-weight: 600;
  font-size: 24px;
}

.date {
  font-size: 14px;
  color: rgb(115, 115, 64);
  font-weight: 800;
  margin: 0;
  height: 10%;
}

.header {
  height: 100%;
  margin-bottom: 1em;
  row-gap: 2rem;
}

.sub-header {
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.sub-header .paragraph {
  width: 80%;
  display: -webkit-box;
  max-width: 400px;
  color: #7d8687;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendee {
  font-size: 12px;
  color: grey;
  margin: 5px 0 0 0;
  float: right;
}

.share {
  color: grey;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: 0.75em;
  display: flex;
  align-items: center;
}

.fa-solid {
  margin-right: 0.25em;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

nav a {
    padding: 10px 16px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: green
}

nav a:hover {
  color: red;
}

.dropdown {
  position: relative;
  min-width: fit-content;
}

.dropdown-action {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.dropdown-icon {
  stroke: currentColor;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
  display: none;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 40px;
  left: 5px;
  min-width: 180px;
  background: white;
  z-index: 10;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu a {
  display: block;
}

.dropdown .inperson {
  list-style-type: none;
  padding-left: 0%;
}

.inperson ul li {
  list-style-type: none;
  border-left: 2px solid gray;
}

@media only screen and (max-width: 768px) {

  .left {
    width: 100%;
  }

  .right {
    display: none;
  }

  .img { 
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 0;
  }

  

  .attendee {
    font-size: 12px;
    color: grey;
    margin: 5px 0 0 0;
  }

  .share {
    color: grey;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    font-size: 0.75em;
    display: flex;
  }

  .fa-solid {
    margin-right: 0.25em;
  }

}