@model CreateEvent
@{
    ViewData["title"] = "Create Event";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="/css/createEvent.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <div class="party-wrapper">
            <div class="back-to-event-button">
                <a asp-controller="Home" asp-action="Index">
                    <button class="back-button">Back</button>
                </a>
            </div>
            <div class="create-party-container">
                <h2>Create Event</h2>
                <div class="progress-area">
                    <div class="circle">1</div>
                    <div class="hyphen"></div>
                    <div class="circle">2</div>
                    <div class="hyphen"></div>
                    <div class="circle">3</div>
                    <div class="hyphen"></div>
                    <div class="circle">4</div>
                    <div class="hyphen"></div>
                    <div class="circle">5</div>
                </div>
                <form asp-action="create" id="create-form" method="post">
                    <div class="step step-1">
                        <h2>First, set your location</h2>
                        <div class="tip-area">
                            <h3>Tip</h3>
                            <p>Meetup groups meet locally, in person or online. The location helps us to connect with
                                people
                                in your
                                area.
                            </p>
                        </div>
                        <div class="input-area">
                            <input type="text" name="ActualPlace" placeholder="สถานที่" maxlength="50" required>
                            <input type="text" name="Province" placeholder="จังหวัด" maxlength="50" required>
                            <input type="text" name="District" placeholder="อำเภอ" maxlength="50" required>
                            <input type="text" name="SubDistrict" placeholder="ตำบล" maxlength="50" required>
                            <div>หรือ</div>
                            <input type="text" name="MapUrl" placeholder="ลิงก์จาก Google Map" maxlength="300">
                        </div>
                    </div>

                    <div class="step step-2">
                        <h2>Choose a tag for your group</h2>
                        <div class="tip-area">
                            <h3>Tip</h3>
                            <p>Be specific! This will help us promote your group to the right people. Try to select at
                                least
                                3 topics
                                before
                                moving onto the next step.</p>
                        </div>
                        <div class="input-area">
                            <label>Choose from this</label>
                            <select name="CategoryName" asp-items="@GetTags()" value="Gaming"></select>
                            @functions {
                                List<SelectListItem> GetTags()
                                {
                                    return new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Art & Culture", Value = "Art & Culture" },
                                        new SelectListItem { Text = "Career & Business", Value = "Career & Business" },
                                        new SelectListItem { Text = "Community & Environment", Value = "Community & Environment" },
                                        new SelectListItem { Text = "Dancing", Value = "Dancing" },
                                        new SelectListItem { Text = "Games", Value = "Games" },
                                        new SelectListItem { Text = "Health & Wellbeing", Value = "Health & Wellbeing" },
                                        new SelectListItem { Text = "Hobbies & Pasion", Value = "Hobbies & Pasion" },
                                        new SelectListItem { Text = "Identity & Languages", Value = "Identity & Languages" },
                                        new SelectListItem { Text = "Music", Value = "Music" },
                                        new SelectListItem { Text = "Parents & Family", Value = "Parents & Family" },
                                        new SelectListItem { Text = "Pet & Animals", Value = "Pet & Animals" },
                                        new SelectListItem { Text = "Religion & Spirituality", Value = "Religion & Spirituality" },
                                        new SelectListItem { Text = "Science & Education", Value = "Science & Education" },
                                        new SelectListItem { Text = "Shabu", Value = "Shabu" },
                                        new SelectListItem { Text = "Social Activities", Value = "Social Activities" },
                                        new SelectListItem { Text = "Sports & Fitness", Value = "Sports & Fitness" },
                                        new SelectListItem { Text = "Support & Coaching", Value = "Support & Coaching" },
                                        new SelectListItem { Text = "Technology", Value = "Technology" },
                                        new SelectListItem { Text = "Travel & Outdoor", Value = "Travel & Outdoor" },
                                        new SelectListItem { Text = "Writing", Value = "Writing" },
                                    };
                                }
                            }
                        </div>
                    </div>
                    <div class="step step-3">
                        <h2>Name your party</h2>
                        <div class="tip-area">
                            <h3>Tip</h3>
                            <p>You can edit this later if you change your mind.</p>
                        </div>
                        <div class="input-area">
                            <input type="text" name="EventName" placeholder="ชื่อของ party" maxlength="50" required>
                            <input type="text" name="EventImg" placeholder="ลิงก์รูปของ party" maxlength="300">
                        </div>
                    </div>

                    <div class="step step-4">
                        <h2>Your party detail</h2>
                        <div class="input-area">
                            <div class="date-input">
                                <div class="date-group group">
                                    <label><div>Start date</div>
                                    <input type="datetime-local" id="StartDate" name="StartDate" lang="th">
                                    </label>
                                    @* //value = datetime now *@
                                </div>
                                <div class="date-group group">
                                    <label><div>End date</div>
                                    <input type="datetime-local" id="EndDate" name="EndDate" lang="th">
                                    </label>
                                    @* //minlength = datime now *@
                                </div>
                            </div>
                                <div class="max-member-group group">
                                    <label><div>Max member</div>
                                    <input type="number" name="MaxMember" value="1" min="1">
                                    </label>
                                </div>
                        </div>
                    </div>

                    <div class="step step-5">
                        <h2>Describe your group</h2>
                        <div class="tip-area">
                            <h3>Tip</h3>
                            <p>Questions to consider:
                            <ul>
                                <li>What’s the group goal?</li>
                                <li>Who are you hoping to meet?</li>
                                <li>What will you do at your events?</li>
                            </ul>
                            </p>
                        </div>
                        <div class="input-area">
                            <label>Please, write at least 50 characters</label>
                            <textarea id="party-name" name="EventDetails" minlength="50" required></textarea>
                        </div>
                        <div class="example-area">
                            <h3>Examples</h3>
                            <p>"Let's get together for affordable activities in our neighborhood, like going to
                                storytime at
                                the
                                library, having picnics at McCarren Park, and play dates in our homes. We can also have
                                events for just
                                the ladies, like moms night- out, movies, dinner, and anything else that looks like
                                fun."
                            </p>
                        </div>
                    </div>

                    <div class="init-value" style="display: none;">
                        <input type="text" name="CurrentMember" value="0" >
                        <input type="text" name="Rating" value="0">
                    </div>

                    <div class="button-area">
                        <button type="button" class="back-button" id="back-button">Previous</button>
                        <button type="button" class="next-button" id="next-button">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/create-event.js"></script>
</body>

</html>
