@model Event
@{

}
<h2>Edit Party</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="EventName"></label>
        <input asp-for="EventName" />
    </div>
    <div>
        <label asp-for="MaxMember"></label>
        <input asp-for="MaxMember" />
    </div>
    <button type="submit">Save Changes</button>
</form>
